
**/.clerk

**/node_modules/
**/.next/
dist/
build/
next-env.d.ts
photos/originals/

**/venv/
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

.DS_Store
.env
.env.local

**/test**

notes.md

.temp/

**/email_send_state.json
**/send_register_reminder.py
**/send_register_reminder2.py
**/email_send_state_accepted.json
**/email_send_state_waitlisted.json
**/email_send_state_reminder2.json
